body {
  padding: 10px;
}

#leaderboard {
    text-align: center;
}

#enemy-name {
    text-align: center;
}

#enemy-health {
    text-align: center;
}

#attack {
    margin-left: 43%;
}

#no-damage-dealt {
    text-align: center;
}
