<h2 id="leaderboard">Leaderboard:</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Damage Dealt:</th>
    </tr>
  </thead>
  <tbody>
    {{#each playersByDamageDealt as |player|}}
      <tr>
        <td>{{player.name}}</td>
        <td>{{player.damageDealt}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
