<h2 id="leaderboard">Leaderboard:</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Damage Dealt:</th>
    </tr>
  </thead>
  <tbody>
    {{#each playersByDamageDealt as |player|}}
      <tr>
        <td>{{player.name}}</td>
        <td>{{player.damageDealt}}</td>
      </tr>
      {{else}}
      <h6 id="no-damage-dealt">There has been no damage dealt today.</h6>
    {{/each}}
  </tbody>
</table>
<p class="help-block">Most damage dealt in the last 24 hours.</p>
